.kalel-topo-fixo {
  background: rgba(36, 36, 36, 0.4); }

.kalel-topo-fixo a {
  color: white; }

.kalel-topo-fixo a:hover {
  color: tomato; }

.banner {
  width: 100%;
  min-height: 45%;
  height: auto;
  max-height: 100%;
  display: inline-block;
  background: #0078cc;
  background: url('../img/music.jpg') fixed;
  background-size: cover;
  border-bottom: 15px solid rgba(36, 36, 36, 0.85);
  padding-top: 100px;
  color: white;}

.davi-title {
  font-size: 2.5em; }

.bloco-posts, .grupos{
  float: right !important; 
}

/*
  posts
*/

.posts {
  width: 98%;
  margin-left: 2%;
  font-size: 1.15em;
  display: inline-block;
  border-radius: 0.2em; }

.posts article, .posts aside {
  float: left; }

.posts article {
  text-align: justify;
  margin-bottom: 5px;
  width: 100%;
}

.posts article h1 {
  font-size: 2.3em; }

.posts div{
   text-align: right;
   border-bottom: 1px solid #ddd;
}

.bt-davi{
  font-size: 2.5em;
  min-width: 10%;
  margin-bottom: 10px;
}

/*
 grupos
*/

.grupos, .grupos ul, .grupos ul li {
  padding: 0; }

.grupos ul{
  margin: 0;}

.grupos ul li {
  width: 80%;
  margin-left: 10%;
  list-style: none;
  margin-top: 1px;
  vertical-align: middle;}

.grupos ul li:hover{
  background: rgba(36, 36, 36, .1);
}

.grupos ul li a {
  line-height: 35px;
  width: 100%;
  display: inline-block;
  text-decoration: none; }


.grupos ul li a span {
  display: block;
  float: left; }

.grupos ul li a span:nth-child(1) {
    width: 79%;
    margin-left: 1%;
    font-size: 1.3em; 
    text-align: left;}

.grupos ul li a span:nth-child(2) {
    font-size: 2em;
    text-align: center;
    width: 20%;
    margin-top: 2px;}

.bt-davi:hover, .grupos ul li a:hover span:nth-child(2) {
   background: rgba(0, 120, 255, .7); }

.rodape, .bt-davi, .grupos ul li a span:nth-child(2){
  background: rgba(0, 120, 255, .9);
  color:white;
}
/*
  contatos
*/

.tel-grupo{
  border-bottom: 5px solid #0078cc;
}

.tel-grupo ul{
  padding: 0;
}

.tel-grupo ul li{
  list-style: none;
  font-size: 1.3em;
  margin-top: 10px;

}

/*
 parceiros
*/

.parceiros{
  margin-top: 40px;
}

.parceiros div{
  margin-top: 40px;
}


.parceiros img{
  max-width: 75%;
  border: .1em solid #eee;
}

/*
  page grupo
*/

.page-grupo div, .page-grupo aside{
    text-align: center;
}

.page-grupo div{
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
}

.page-grupo img{
    max-width: 80%;
}

.post-relacionado{
  margin-top: 50px;
}

.post-relacionado h1{
  margin-bottom: 30px;
}

.post-relacionado div{
 line-height: 100px;
 float: left;
 min-width: 15%;
 width: auto;
 max-width: 100%;
 margin-left: 4%;
 text-align: center;
}

.post-relacionado a{
 color: #333;
 margin-top: 10px;
 display: block;
 width: 100%;
 background: rgba(0, 120, 255, .2);
 font-size: 1.5em;
 padding-left: 4%;
 padding-right: 4%;
 border: 5px solid rgba(0, 120, 255, .3);
}

.post-relacionado a:hover{
  background: rgba(0, 120, 255, .4);
  border: 5px solid rgba(0, 120, 255, .5);
  color: white;
}


.paginacao .bt{
  min-width: 25%;
}


@media screen and (max-width: 930px) {
   
   .post-relacionado div{
      min-width: 20%;
   }
 
  .block-post, .contatos, .endereco{
    width: 90%;
    margin-left: 5%; }

  .posts {
    margin: 0; } 
 
  .bloco-posts, .grupos{
      float: left !important; }

  .grupos{
      width: 80%;
      margin-left: 10% !important; }
  
  .grupos ul li, .grupos ul li a{
    line-height: 50px;
    width: 100%;
    margin-left: 0;
  }

  .grupos ul li a{
      vertical-align: middle;
  } 

}

@media screen and (max-width: 740px){
   
 .post-relacionado div{
   margin-left: 6%;
 }
}

@media screen and (max-width: 655px) {
   .page-grupo div{
    height: auto;
   }

  .banner{
    /*background: #0078cc;*/
  }
 
  .banner .img-responsiva{
    max-width: 80% !important;
  }
 
  .posts div{
    text-align: center; 
    margin-top: 20px;
   }
 
  .publica{
    width: 90%;
    margin-left: 5%;
  }
 
  .block-post, .grupos, .grupos ul li, .contatos, .endereco {
    width: 100%;
    margin-left: 0% !important; }
  
  .parceiros img{
    max-width: 50% !important;
   }
 
}

@media screen and (max-width: 420px){
 
 .parceiros img{
    max-width: 80% !important;
  }
 
}
/*# sourceMappingURL=custom.css.map */
