<header class="kalel-topo-fixo">
   <aside class="logo link-sem-traco">
    <a href="{{site.baseurl}}/index.html" class="logo-titulo">Projeto Davi</a>
   </aside>    
   <nav class="menu menu-direita">
     <ul>
      <li><a href="{{site.baseurl}}/index.html">Home</a></li>
      <li><a href="{{site.baseurl}}/projeto.html">Projeto</a></li>
      <li><a href="{{site.baseurl}}/contatos.html">Contatos</a></li>
     </ul>
   </nav>
  </header>
  <section class="banner baixo-20">
    <article class="kalel-10-12-centro responsivo">
    <h1 class="davi-title">Projeto Davi - Projeto Social Musical</h1>
    </article>
  </section>