<header class="kalel-topo-fixo">
   <aside class="logo link-sem-traco">
    <a href="{{site.baseurl}}/index.html" class="logo-titulo">Projeto Davi</a>
   </aside>    
   <nav class="menu menu-direita">
     <ul>
      <li><a href="{{site.baseurl}}/index.html">Home</a></li>
      <li><a href="{{site.baseurl}}/projeto.html">Projeto</a></li>
      <li><a href="{{site.baseurl}}/contatos.html">Contatos</a></li>
     </ul>
   </nav>
  </header>
  <section class="banner baixo-20">
    <article class="kalel-10-12-centro responsivo">
      <aside class="kalel-2-3 responsivo">
       <h1>{{ site.title }}</h1>
      </aside>
      <aside class="kalel-1-3 responsivo-medio-centro">
         <img src="img/davi.png" class="img-responsiva">
      </aside>
    </article>
  </section>